.sort__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 8.3%;
  padding-left: 8.3%;
}
.sort__inner .sort-block {
  padding-right: 0;
  padding-left: 0;
}

.sort-layout {
  display: flex;
}

.sort-layout__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  opacity: 0.2;
  transition: opacity 0.3s;
  cursor: pointer;
}

.sort-layout__btn.active {
  opacity: 0.5;
  transition: opacity 0.3s;
}
.sort-layout__btn:hover {
  opacity: 0.5;
  transition: opacity 0.3s;
}
.sort-layout__btn_col {
  margin-right: 10px;
}
.catalog-container.catalog-container_row .catalog-cards {
  flex-direction: column;
  width: 100%;
}
.catalog-container.catalog-container_row .card-product {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 24px 35px 30px;
}
.catalog-container.catalog-container_row .card-product__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0;
  width: 100%;
  height: auto;
  flex: auto;
}
.catalog-container.catalog-container_row .card-product__img {
  height: 185px;
  width: 120px;
  min-width: 120px;
  padding-top: 12px;
}
.catalog-container.catalog-container_row .card-product__img-hover {
  display: none;
}
.catalog-container.catalog-container_row
  .card-product__img:hover
  .card-product__img-main {
  opacity: 1;
}
.catalog-container.catalog-container_row .card-product__labels {
  position: static;
  margin-bottom: 25px;
}
.catalog-container.catalog-container_row .card-product__price-box {
  margin-bottom: 21px;
}
.catalog-container.catalog-container_row .card-product__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.catalog-container.catalog-container_row .card-product__rating-wrapper {
  margin-bottom: 0;
}
.catalog-container.catalog-container_row .card-product__btn-basket {
  width: 167px;
  margin-bottom: 20px;
  order: 1;
}
.catalog-container.catalog-container_row .card-product__btn-block {
  flex-direction: column;
  margin-top: 0;
}
.catalog-container.catalog-container_row .card-product__btn-buy {
  margin-left: 0;
  order: 3;
}
.catalog-container.catalog-container_row .card-product__btn-favorites {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 20px;
  margin: 0 0 20px;
  order: 2;
}
.catalog-container.catalog-container_row .card-product__btn-compare {
  order: 4;
}
.catalog-container.catalog-container_row .card-product__btn-favorites svg {
  margin-right: 16px;
  margin-left: 5px;
}
.catalog-container.catalog-container_row .card-product__btn-buy img {
  margin-right: 17px;
}
.catalog-container.catalog-container_row .card-product__btn-compare img {
  margin-left: 8px;
}
.catalog-cards__wrapper {
  display: flex;
  flex-flow: row wrap;
}
.catalog-desc {
  line-height: 1.33;
  letter-spacing: normal;
  color: #000000;
  font-size: 18px;
  font-weight: normal;
  padding-left: 4.3%;
  max-width: 88%;
}
.catalog-desc p {
  display: block;
  margin-bottom: 20px;
}
.catalog .catalog-cards .pogination {
  margin-bottom: 56px;
}
.btn-catalog-desc__show {
  margin-left: 4.3%;
  border: none;
  background: none;
  box-shadow: none;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  color: #4055c8;
  position: relative;
  padding-right: 38px;
  margin-top: 20px;
  cursor: pointer;
}
.btn-catalog-desc__show:hover {
  color: #df9400;
  transition: color 0.3s;
}
.btn-catalog-desc__show:hover::before {
  background: #df9400;
}
.btn-catalog-desc__show:hover::after {
  background: #df9400;
}
.btn-catalog-desc__show::before {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 20px;
  height: 1px;
  background: #4055c8;
}
.btn-catalog-desc__show::after {
  content: '';
  position: absolute;
  right: 0;
  top: 8px;
  transform: rotate(90deg);
  width: 20px;
  height: 1px;
  background: #4055c8;
}
.catalog .catalog-cards {
  margin-bottom: 87px;
}
.catalog-desc__hidden {
  display: none;
}
.slider-horizontal {
  display: flex;
  // padding: 0 8.3%;
  position: relative;
  max-width: 1067px;
  margin-left: auto;
  margin-right: auto;
}
.slider-horizontal__track {
  max-width: 1067px;
}
.slider-horizontal__item {
  margin: 0 1px;
}
.slider-horizontal_catalog {
  margin-top: 48px;
  margin-bottom: 5px;
}
.slider-horizontal__arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
}
.slider-horizontal__arrow_prev {
  left: -50px;
}
.slider-horizontal__arrow_next {
  right: -50px;
}
.slider-horizontal .slick-list {
  padding-top: 0;
  width: 100%;
}
.slider-horizontal__item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.slider-horizontal__arrow_mobile {
  display: none;
}



.filters-selected {
  display: flex;
  flex-flow: row wrap;
  padding-left: 65px;
}
.filters-selected__item {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  background: #e9e9e9;
  border-radius: 5px;
  padding: 3px 10px;
  margin-right: 10px;
  margin-bottom: 8px;
}
.filters-selected__item-delete {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.filters-delete__all {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 8px;
  padding: 3px 10px;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}
.filters-delete__all img {
  margin-right: 10px;
}
