.content_corporate-sales{
    padding-bottom: 89px;
}
.content_corporate-sales .title-form{
    margin-bottom: 40px;
}
.text-form{
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.75;
    color: #000000;
}
.corporate-sales-text{
    display: flex;
    padding: 0 8.3%;
    font-size: 17px;
    font-weight: normal;
    line-height: 1.59;
    color: #000000;
    margin-top: 37px;
    margin-bottom: 109px;
}
.corporate-sales-text p:first-child{
    display: block;
    width: 525px;
    margin-right: 40px;
}
.corporate-sales-text p:last-child{
    width: 448px;
}
.section-form .data-span{
    max-width: 200px;
}