.content_delivery{
    padding: 37px 8.3% 70px;
}
.delivery-text__top{
    max-width: 70.078vw;
    min-width: 897px;
}
.content_delivery .text-md{
    display: block;
    margin-bottom: 15px;
}
.delivery-text__top ~ .delivery-img{
    margin-bottom: 36px;
    margin-top: 23px;
    padding-left: 15vw;
}
.delivery-block{
    display: flex;
}
.delivery__name{
    font-size: 24px;
    font-weight: normal;
    line-height: normal;
    color: #000;
    width: 10.938vw;
    min-width: 140px;
    margin-right: 4.063vw;
}
.delivery-text__lg{
    display: block;
    font-size: 20px;
    font-weight: normal;
    line-height: normal;
    color: #000;
    margin-bottom: 36px;
}
.delivery-text{
    min-width: 735px;
    max-width: 57.422vw;
    font-size: 17px;
    font-weight: normal;
    line-height: 1.59;
    color: #000;
}
.text-bold{
    display: block;
    font-weight: bold;
    margin-bottom: 15px;
}
.delivery-text ul{
    list-style: none;
    margin-left: 30px;
    margin-bottom: 15px;
}
.delivery-text ul li{
    margin-bottom: 10px;
}
.delivery-text .delivery-img{
    margin: 43px 0 53px;
}