.order-proces__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 127px;
}
.order-proces__block .title-main{
    margin-bottom: 64px;
}
.order-proces__text{
    font-size: 16px;
    font-weight: normal;
    line-height: 1.75;
    color: #000000;
}
.order-number{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.75;
    color: #000000;
}
.order-proces__link{
    font-size: 16px;
    font-weight: normal;
    line-height: 1.75;
    color: #000000;
    color: #4055c8;
    text-decoration: none;
    transition: opacity 0.3s;
}
.order-proces__link:hover{
    color: #df9400;
    transition: opacity 0.3s;
}
.order-proces__block .btn-border{
    width: 206px;
    margin-top: 63px;
}