.content_product{
    padding-bottom: 10px;
}
.title-block_product{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 23.5vw;
    padding-bottom: 80px;
}
.title-block_product .breadcrumb{
    margin-bottom: 32px;
}
.product__info-name{
    position: absolute;
    top: -90px;
    left: 50%;
    transform: translate(-50%, 0);
}
.product-article{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: #000;
    margin-top: 13px;
}
.product__country-origin{
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    color: #8e8e8e;
    margin-top: 11px;
}
.product-left {
    margin-right: 9.5vw;
}
.product-left .card-product__labels{
    position: static;
}
.product-top{
    display: flex;
    padding: 0 7% 0 3.4%;
    margin-bottom: 77px;
}
.free-shipping{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 84px;
    margin: 38px 0 39px 6px;
}
.free-shipping span{
    display: block;
    text-align: center;
    margin-top: 10px;
}
.product-bonuses{
    display: flex;
    width: 78px;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 202px;
}
.product-bonuses__text-color{
    display: block;
    font-size: 19px;
    font-weight: bold;
    line-height: 1.11;
    text-align: center;
    color: #e49911;
    margin-bottom: 4px;
}
.product-bonuses__text{
    display: block;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4;
    text-align: center;
    color: #000;
    margin-bottom: 14px;
}
.product-bonuses__link{
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.29;
    text-align: center;
    color: #7078a4;
    transition: color 0.3s;
}
.product-bonuses__link:hover{
    color: #e49911;
    transition: color 0.3s;
}
.fitting-btn{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: -4vw;
    width: 124px;
    cursor: pointer;
}
.fitting-btn__text{
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.29;
    text-align: center;
    color: #7078a4;
    width: 65px;
    margin-bottom: 15px;
}
.product-gallery{
    width: 490px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.product-gallery::before{
    content: '';
    width: 750px;
    height: 750px;
    max-width: 809px;
    max-height: 809px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 230px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.product-gallery__for{
    width: 490px;
}
.product-gallery__for-wrapper{
    display: flex;
    margin-bottom: 52px;
    position: relative;
}
.product-gallery__nav-item{
    // width: 65px;
    // max-width: 65px;
    // min-width: 65px;
    height: 54px;
    margin: 0 10px;
}
.product-gallery__nav-item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.product-gallery__nav-wrapper{
    display: flex;
    align-items: center;
}
.product-gallery__nav .slick-list{
    padding: 0 !important;
}
.product-gallery__nav{
    width: calc(100% - 56px);
}
.product-gallery__for-item{
    display: flex;
    justify-content: center;
    height: 464px;
}
.product-gallery__for-item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.product-gallery__arrow{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
}
.product-gallery__for .slick-list{
    padding: 0;
}
.product-gallery__360{
    margin-left: 20px;
}
.product-gallery__arrow-next{
    right: -90px;
}
.product-gallery__arrow-prev{
    left: -90px;
}
.product-gallery__nav-item.slick-current{
    opacity: 0.5;
}
.product-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
}
.product-right__btn{
    display: flex;
    margin-bottom: 42px;
}
.product-price__wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 28px;
}
.product-price{
    font-size: 26px;
    font-weight: bold;
    line-height: 1.65;
    color: #000;
    margin-bottom: 10px;
}
.product-price__inner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 13px;
}
.product-price__old{
    font-size: 20px;
    font-weight: normal;
    line-height: 1.15;
    color: #808080;
    margin-right: 23px;
}
.product-price__discount{
    font-size: 20px;
    font-weight: bold;
    line-height: 1.15;
    color: #e71837;
}
.product-right .card-product__rating-wrapper{
    margin-bottom: 44px;
}
.product-price__text{
    font-size: 13px;
    font-weight: normal;
    line-height: 1.38;
    text-align: right;
    color: #8a8a8a;
    max-width: 214px;
}
.product__btn-buy{
    display: flex;
    align-items: center;
}
.product__btn-text{
    display: block;
    margin-right: 19px;
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    color: #5c5c5c;
}
.btn_red{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 208px;
    height: 58px;
    border-radius: 3px;
    background-color: #e71837;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.13;
    color: #fff;
    cursor: pointer;
    transition: opacity 0.3s;
}
.btn_red:hover{
    opacity: 0.7;
    transition: opacity 0.3s;
}
.product__btn-buy{
    margin-bottom: 30px;
}
.product__btn-buy.card-product__btn-buy img{
    margin-right: 0;
}
.btn-link{
    font-size: 16px;
    font-weight: normal;
    line-height: 1.13;
    color: #7078a4;
    transition: color 0.3s;
    text-decoration: none;
    cursor: pointer;
}
.btn-link:hover{
    color: #e49911;
    transition: color 0.3s;
}
.add-basket{
    margin-bottom: 32px;
}
.product-right .btn-found-cheaper,
.product-right .btn-modal-qustion{
    margin-bottom: 13px;
}

.product-right .btn-modal-sale{
    position: relative;
}
.product-right .btn-modal-sale::before{
    content: url(../img/sale-icon-btn.svg);
    position: absolute;
    bottom: 0;
    left: -42px;
}
.social-share{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.product-right .social-share{
    margin-top: 35px;
}
.social-share__text{
    display: block;
    margin-bottom: 13px;
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    color: #5c5c5c;
}
.uscl-item{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.3s;
}

.uscl-item:hover{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    transition: 0.3s;
}
.product-characteristics{
    padding: 0 8.3%;
    margin-bottom: 110px;
}
.product-characteristic__row{
    display: flex;
    margin-bottom: 15px;
}
.product-characteristic__name{
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #000;
    width: 127px;
    min-width: 127px;
    margin-right: 24px;
}
.product-characteristic__text{
    display: block;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    color: #000;
}
.product-characteristics__min{
    columns: 2;
    max-width: 890px;
}
.btn-add{
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    color: #4055c8;
    padding-right: 53px;
    position: relative;
    transition: color 0.3s;
    cursor: pointer;
}
.btn-add:hover{
    color: #e49911;
    transition: color 0.3s;
}
.btn-add::before{
    content: '';
    width: 17px;
    height: 1px;
    background-color: #4055c8;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    transition: background-color 0.3s;
}
.btn-add:hover::before,
.btn-add:hover::after{
    background-color: #e49911;
    transition: background-color 0.3s;
}
.btn-add::after{
    content: '';
    width: 17px;
    height: 1px;
    background-color: #4055c8;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%) rotate(90deg);
    transition: background-color 0.3s;
}
.product-characteristics__add{
    margin-left: 453px;
    width: max-content;
}
.product-characteristics__title{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #000;
    margin-bottom: 24px;
}
.product-characteristics__all{
    display: none;
    flex-flow: row wrap;
}
.product-characteristics__title img{
    margin-left: 27px;
}
.product-characteristics__box{
    margin-right: 7.422vw;
}
.product-characteristics__col .product-characteristics__box:first-child{
    margin-bottom: 40px;
}
.product-characteristic__prompt-info{
    display: none;
    width: 179px;
    padding: 16px 17px 16px 16px;
    border-radius: 3px;
    background-color: #4c4c4c;
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    color: #fff;
    bottom: 0;
    right: -200px;
}
.product-characteristic__prompt-info::before{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
    background-color: #4c4c4c;
    left: -5px;
    bottom: 10px;
}
.product-characteristic__prompt{
    margin-left: 24px;
    position: relative;
}
.product-characteristics__box.functions{
    margin-right: 0;
    width: 100%;
    padding-right: 1.344vw;
    margin-top: 25px;
}
.product-characteristic__prompt:hover .product-characteristic__prompt-info{
    display: block;
    position: absolute;
}

.product-characteristics__box.functions .product-characteristics__list{
    display: flex;
    flex-flow: row wrap;
}
.product-characteristics__box.functions .product-characteristics__list .product-characteristic__row{
    width: calc(100% / 3);
}
.video-product{
    display: flex;
    width: 100%;
    text-decoration: none;
    outline: none;
    position: relative;
    margin-bottom: 31px;
}
.video-product img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.play{
    width: 88px;
    height: 88px;
    background-color: #e8203f;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
}
.play::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 31px;
    height: 31px;
    background: #fff;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
}
.tabs-container{
    margin-bottom: 60px;
    background: #fff;
}
.tabs-btn{
    display: flex;
    padding: 0 8.3%;
    border-bottom: 1px solid #979797;
}
.tab-btn{
    padding: 30px 0;
    cursor: pointer;
    position: relative;
    margin-right: 75px;
    font-size: 20px;
    font-weight: normal;;
    line-height: normal;
    color: #000;
}
.tab-btn:last-child{
    margin-right: 0;
}
.tab-btn.active::before{
    content: '';
    position: absolute;
    bottom: -12px;
    left: 50%;
    width: 20px;
    height: 20px;
    -webkit-transform: translate(-50%, 0) rotate(-135deg);
    -ms-transform: translate(-50%, 0) rotate(-135deg);
    transform: translate(-50%, 0) rotate(-135deg);
    border: 1px solid #979797;
    background: #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    z-index: 1;
}
.tab-content{
    display: none;
    padding: 57px 8.3% 46px;
}
.tab-content.active{
    display: flex;
}
.tab-content_desc .tab-content__text{
    width: 60vw;
    margin-right: 76px;
    max-width: 1054px;
}
.tab-content_delivery .tab-content__text,
.tab-content_guarantee .tab-content__text{
    width: 60vw;
    max-width: 1054px;
}
.tab-content__text{
    font-size: 16px;
    font-weight: normal;
    line-height: 1.75;
    color: #000;
    max-width: 768px;
}
.download{
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    transition: opacity 0.3s;
    position: relative;
    padding-left: 30px;
}
.download:hover{
    opacity: 0.7;
    transition: opacity 0.3s;
}
.download:link{
    color: #000;
}
.download__img{
    position: absolute;
    left: 0;
    top: 0;
}
.download__name{
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    color: #000;
    padding-right: 19px;
}
.download__size{
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    color: #8a8a8a;
}
.product-brand__logo{
    width: 171px;
    height: 100%;
    margin-right: 87px;
}
.product-brand__logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.tab-content_brand .tab-content__text{
    width: 38.281vw;
}
.link-all-clock{
    display: flex;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    color: #7078a4;
    margin-left: 100px;
    height: 100%;
    transition: color 0.3s;
}
.link-all-clock:hover{
    color: #e49911;
    transition: color 0.3s;
}
.link-all-clock:hover svg path{
    fill: #e49911;
    transition: 0.3s;
}   
.link-all-clock__inner{
    display: flex;
    flex-direction: column;
}
.link-all-clock svg{
    margin-top: 5px;
    margin-left: 34px;
}
.tab-content_brand .btn-link{
    display: block;
    margin-top: 20px;
}

.availability__row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 37px;
}
.availability__inner{
    display: flex;
    flex-direction: column;
}
.availability__name{
    display: block;
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
    color: #4055c8;
    text-decoration: none;
    margin-bottom: 9px;
}
.availability__address{
    font-size: 16px;
    font-weight: normal;
    line-height: 1.31;
    color: #000;
    max-width: 240px;
}
.availability-text{
    font-size: 16px;
    font-weight: normal;
    line-height: 1.13;
    color: #000;
    text-decoration: none;
    padding-top: 30px;
}
.availability__row .btn-border{
    max-width: 187px;
    margin-top: 13px;
}
.tab-content_availability{
    flex-direction: column;
}
.slider-product__track .slick-list{
    width: 100%;
}
.content_product .slider-product{
    margin-bottom: 85px;
}
.content_product .slider-title{
    text-transform: inherit;
}
.reviews{
    margin-bottom: 115px;
}
.reviews__title{
    display: block;
    font-size: 40px;
    font-weight: 300;
    line-height: normal;
    color: #000;
    text-align: center;
    margin-bottom: 25px;
}
.reviews__inner{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-left: 8%;
    margin-bottom: 30px;
}
.reviews__leave{
    position: relative;
    height: 100%;
    margin-left: 55px;
}
.reviews__leave::after{
    content: url(../img/reviews-leave.svg);
    position: absolute;
    right: -30px;
    bottom: 0;
}
.reviews .card-product__rating-wrapper{
    margin-bottom: 0;
}
.reviews-gallery__img{
    display: block;
}
.reviews-gallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.reviews-gallery__img{
    height: 126px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.reviews-gallery__img:last-child{
    margin-right: 0;
}
.reviews-gallery__img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.reviews-slider{
    padding-top: 13px;
}
.review-card__text{
    display: block;
    display: -webkit-box;
    font-weight: normal;
    font-size: 17px;
    font-weight: normal;
    line-height: 1.59;
    color: #000;
    max-height: 54px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.review-card__text.auto{
    max-height: 100%;
    -webkit-box-orient: inherit;
}
.reviews-slider__track{
    padding: 0 15px;
}
.review-card{
    background: #fff;
    padding: 33px 35px 26px 35px;
    min-height: 315px;
    margin: 0 15px;
}
.review-card__name{
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    color: #000;
    margin-bottom: 8px;
}
.review-card__row{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.reviw-card__date{
    display: block;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.8;
    color: #7c7c7c;
    margin-right: 23px;
}
.review-card__gallery{
    display: flex;
    flex-flow: row wrap;
    margin-top: 29px;
}
.review-card__gallery-item{
    display: block;
    height: 64px;
    margin-right: 9px;
    margin-bottom: 9px;
}
.review-card__gallery-item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.review-text__shows{
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.13;
    color: #7078a4;
    margin-top: 6px;
    cursor: pointer;
    transition: color 0.3s;
}
.review-text__shows:hover{
    color:#e49911;
    transition: color 0.3s;
}
.reviews-slider__track .slick-list{
    padding-top: 27px;
}

.btn-hint{
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    color: #4055c8;
}
.product-right .card-product__btn-favorites,
.product-right .card-product__btn-compare{
    margin-top: 0;
}
.product-characteristics__col .product-characteristics__box{
    margin-right: 0;
}

.product-price__box{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.product-right__box{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.reviews .card-number__reviews span{
    margin-right: 5px;
}
.btn-hint{
    background: none;
    outline: none;
    box-shadow: none;
    border: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -55px;
    cursor: pointer;
}
